.about {
    padding-top: 90px;
    padding-bottom: 115px;
}

@media (max-width: 1024px) {
    .about {
        padding-top: 72px;
        padding-bottom: 92px;
    }
}

@media (max-width: 768px) {
    .about {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}

@media (max-width: 414px) {
    .about {
        padding-top: 45px;
        padding-bottom: 60px;
    }
}

@media (max-width: 375px) {
    .about {
        padding-top: 25px;
        padding-bottom: 35px;
    }
}

.about h2 {
    margin-bottom: 75px;
}

@media (max-width: 1024px) {
    .about h2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 375px) {
    .about h2 {
        margin-bottom: 20px;
    }
}

.about p {
    margin-bottom: 30px;
    text-align: justify;
}

@media (max-width: 1024px) {
    .about p {
        margin-bottom: 15px;
    }
}

.about p:last-child {
    margin-bottom: 0;
}