footer {
    background-color: #FFFAF2;
    padding-top: 90px;
    padding-bottom: 190px;
}

@media (max-width: 1200px) {
    footer {
        padding-top: 72px;
        padding-bottom: 140px;
    }
}

@media (max-width: 900px) {
    footer {
        padding-top: 60px;
        padding-bottom: 120px;
    }
}

@media (max-width: 414px) {
    footer {
        padding-top: 46px;
        padding-bottom: 80px;
    }
}

@media (max-width: 375px) {
    footer {
        padding-top: 26px;
        padding-bottom: 50px;
    }
}

footer h2 {
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    footer h2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 375px) {
    footer h2 {
        margin-bottom: 25px;
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer-content {
        flex-wrap: wrap;
    }
}

.footer-content ul {
    width: 35%;
}

@media (max-width: 768px) {
    .footer-content ul {
        width: 45%;
        margin-bottom: 30px;
    }
}

.footer-content li {
    margin-bottom: 14px;
}

.footer-content li:last-of-type {
    margin-bottom: 0;
}

.footer-content a {
    font-size: 18px;
    color: #333;
    margin-bottom: 14px;
    display: block;
}

@media (max-width: 375px) {
    .footer-content a {
        font-size: 14px;
        margin-bottom: 19px;
    }
}

.footer-content a:last-of-type {
    margin-bottom: 0;
}

.credentials a:last-of-type {
    font-size: 15px;
}

@media (max-width: 375px) {
    .credentials a:last-of-type {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .credentials a:first-of-type {
        margin-bottom: 7px;
    }
}