.hero {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: top center;
    height: 100vh;
    padding-top: 90px;
}

@media (max-width: 768px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
        height: auto;
    }
}

@media (max-width: 375px) {
    .hero {
        height: auto;
        padding-top: 30px;
        padding-bottom: 60px;
    }
}