.hero {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 60px;
}


@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .hero {
        background-image: url("../img/background2x.jpg");
    }
}

@media (max-width: 768px) {
    .hero {
        padding-top: 60px;
        min-height: auto;
    }
}

@media (max-width: 414px) {
    .hero {
        padding-top: 40px;
    }
}

@media (max-width: 375px) {
    .hero {
        padding-top: 30px;
    }
}