.portfolio {
    padding-top: 90px;
    padding-bottom: 145px;
}

@media (max-width: 1200px) {
    .portfolio {
        padding-top: 72px;
        padding-bottom: 116px;
    }
}

@media (max-width: 768px) {
    .portfolio {
        padding-top: 60px;
        padding-bottom: 100px;
    }
}

@media (max-width: 414px) {
    .portfolio {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media (max-width: 375px) {
    .portfolio {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.portfolio h2 {
    margin-bottom: 85px;
}

@media (max-width: 1200px) {
    .portfolio h2 {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .portfolio h2 {
        margin-bottom: 45px;
    }
}

@media (max-width: 414px) {
    .portfolio h2 {
        margin-bottom: 30px;
    }
}

@media (max-width: 375px) {
    .portfolio h2 {
        margin-bottom: 20px;
    }
}


.portfolio-slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1200px) {
    .portfolio-slide {
        flex-direction: column;
    }
}

.portfolio-slide h3 {
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin-bottom: 48px;
}

@media (max-width: 1200px) {
    .portfolio h3 {
        margin-bottom: 38px;
    }
}

@media (max-width: 375px) {
    .portfolio h3 {
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
    }
}

.portfolio-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-content p {
    flex-grow: 0;
    margin-bottom: 25px;
    margin-right: 125px;
    line-height: 1.7;
    text-align: justify;
}

@media (max-width: 1200px) {
    .portfolio-content p {
        margin-right: 0;
        line-height: 1.4;
    }
}

@media (max-width: 375px) {
    .portfolio-content p {
        text-align: center;
    }
}

.arrow-right {
    transform: rotate(3.14rad);
    margin-left: 15px;
}

@media (max-width: 1200px) {
    .portfolio-buttons {
        align-self: flex-end;
        margin-bottom: 25px;
    }
}

@media (max-width: 375px) {
    .portfolio-buttons {
        display: none;
    }
}

.portfolio-images {
    display: grid;
    grid-template-columns: 350px 255px;
    column-gap: 30px;
    padding-top: 68px;
}

@media (max-width: 1200px) {
    .portfolio-images {
        grid-template-columns: 3.5fr 2.55fr;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
    }
}

@media (max-width: 414px) {
    .portfolio-images {
        column-gap: 15px;
    }
}

@media (max-width: 320px) {
    .portfolio-images {
        column-gap: 13px;
    }
}

.portfolio-images img {
    width: 100%;
}

.portfolio-images div {
    display: grid;
    row-gap: 26px;
}

@media (max-width: 414px) {
    .portfolio-images div {
        row-gap: 15px;
    }
}

@media (max-width: 375px) {
    .portfolio-images div {
        row-gap: 13px;
    }
}

@media (max-width: 320px) {
    .portfolio-images div {
        row-gap: 10px;
    }
}