.to-top {
    position: fixed;
    bottom: 70px;
    right: 180px;
}

@media (max-width: 1200px) {
    .to-top {
        right: 144px;
        bottom: 56px;
    }
}

@media (max-width: 900px) {
    .to-top {
        right: 100px;
        bottom: 50px;
    }
}

@media (max-width: 600px) {
    .to-top {
        right: 32px;
        bottom: 58px;
    }
}

.to-top img{
    transform: rotate(1.57rad);
}